/* line 1, ../../app/assets/stylesheets/_base.scss */
body {
  background-color: white;
}

/* line 13, ../../app/assets/stylesheets/_buttons.scss */
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  color: #666666;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  cursor: pointer;
}

/* line 31, ../../app/assets/stylesheets/_buttons.scss */
.btn:hover {
  color: #666666;
  text-decoration: none;
  background-color: blue;
  background-position: 0 -15px;
}

/* line 47, ../../app/assets/stylesheets/_buttons.scss */
.btn.active,
.btn:active {
  background-image: none;
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  outline: 0;
}

/* line 58, ../../app/assets/stylesheets/_buttons.scss */
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
}
